
<a routerLink="/user-list"><button class="buttonsforrouter"> Users</button></a>
<a routerLink="/ball-play"><button class="buttonsforrouter"> BallPlay</button></a>
<a routerLink="/garage"><button class="buttonsforrouter"> Garage</button></a>
<a routerLink="/tic-tac-toe"><button class="buttonsforrouter"> TicTacToe</button></a>
<a routerLink="/form-exercice"><button class="buttonsforrouter"> FormExercice</button></a>
<a routerLink="/form2"><button class="buttonsforrouter"> Form2</button></a>
<a routerLink="/observable"><button class="buttonsforrouter"> Observable</button></a>
<router-outlet></router-outlet>